<h1>Übersicht Verteiler Ehemalige Anlass 20.09.2014</h1>

<table class="alumni_addresses">
  <tr>
    <th>Name</th>
    <th>Vulgo</th>
    <th>Email</th>
    <th></th>
  </tr>

  <% @alumni_addresses.each do |alumni_address| %>
      <tr>
        <td><%= alumni_address.name %></td>
        <td><%= alumni_address.vulgo %></td>
        <td><%= alumni_address.email %></td>
        <td><%= link_to "Details »", alumni_address_path(alumni_address) %></td>
      </tr>
  <% end %>
</table>