<h1>Anmeldung Verteiler Ehemaligen Anlass</h1>

<p>Danke, dass du dich für den E-Mail Verteiler für den Ehemaligen-Anlass vom 20. September 2014 anmeldest.
  Fülle dazu den ersten Teil im Formular aus. Mit dem Kommentarfeld hast du die Möglichkeit, uns etwas mitzuteilen - etwa wenn du noch ältere Fotos hast, die wir am Anlass zeigen könnten.</p>
  <p>Falls der Brief an eine falsche Adresse ging, hast du im zweiten Teil des Formulars die Möglichkeit uns deine aktuelle Adresse zu melden.</p>

<%= render 'form' %>
