- if can? :create, MeetingProtocol
  ul.buttons[style="float: right;"]
    li
      = link_to 'PDF', meeting_protocol_path(@meeting_protocol, format: :pdf)
    li
      = link_to 'Protokoll bearbeiten', edit_meeting_protocol_path(@meeting_protocol), class: 'edit' if can? :update, MeetingProtocol
    li
      = link_to 'Protokoll löschen', meeting_protocol_path(@meeting_protocol), method: :delete, confirm: t(:really_delete?), class: 'delete' if can? :destroy, MeetingProtocol
    li
      = link_to 'Protokoll erfassen', new_meeting_protocol_path, class: 'new' if can? :create, MeetingProtocol
= @meeting_protocol.to_html
