.chronik {
    .chronik-slogan {

        text-align: center;
        font-weight: normal;
        font-style: italic;
        font-size: 1.3em;
        color: #D6D6D6;

        &:before {
            content: "„";
        }

        &:after {
            content: "“";
        }
    }


    p {
        padding-bottom: 15px;
    }

    h3 {
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 15px;
        font-size: 1.2em;
    }

    p:first-letter {
        font-size: 1.8em;
        float: left;
    }
}

.downloads {
    .pdf {
        list-style-image: url('/assets/index/downloads/pdficon_small.gif');
    }
    .word {
        list-style-image: url('/assets/index/downloads/word.gif');
    }
}
