.sidebar-event {
    h3 {
        font-size: 1.1em;
        margin: 0 0 0.5em 0;
        padding: 0;
    }
    
    h4 {
        font-size: 1em;
        margin: 1em 0 0.25em 0;
        padding: 0;
    }
    
    ul {
        margin: 0;
    }
    
    .no-event {
        font-style:italic;
    }
}

table.events {
    border-collapse: collapse;
    width: 100%;
    
    tr {
        td {
            padding: 10px 10px;
            border-bottom: 1px dotted #CCC;
            
            &:last-child {
                text-align: right;
            }
        }
    }
}

.event {
 .content_image {
   padding: 2em 0;
 }
}