<%= heading("Chronik", "Die Geschichte der Abteilung", icon: 'abteilung/chronik/icon_chronik.png') %>
<div class="chronik">
  <h2>Pfadi SMN von 1944-1994</h2>
  <p style="font-style: italic;">Anlässlich des 50-jährigen Jubiläums 1994 hat sich die Abteilung die Mühe gemacht und eine sicherlich nicht vollständige, aber doch lesenswerte Chronik der Abteilung herausgegeben. Claude Truffer / Bonobo hat sich damals die Zeit genommen, um all die Daten und Ereignisse zusammenzutragen. Geniesse also den Ausflug in die letzten 50 Jahre der Abteilung.</p>

  <h3>1944</h3>
  <p>
    Bevor unsere Abteilung gegründet worden ist, gingen die Höngger Knaben in der Pfarrei Guthirt (Wipkingen) in die Pfadi. Den Grund dafür finden wir bei der Kirche, denn Höngg hatte damals noch keine eigene Kirche und gehörte der Pfarrei Guthirt an. Die Höngger bildeten gemeinsam eine Gruppe mit dem Namen Puma, eine zweite Gruppe wurde von Knaben des Quartieres Wipkingen gebildet. So hatten die Höngger die Möglichkeit, einige Samstagnachmittag-Übungen auch auf dem Hönggerberg zu gestalten. Als Höngg eine eigene Pfarrei wurde, beschlossen die Pfader der Gruppe Puma in Höngg selber eine neue Abteilung zu gründen. Die Zahl der Pfader der Gruppe Puma stieg zu dieser Zeit rapide an. So wurde irgendwann im Dezember 1944 unsere Abteilung St. Mauritius gegründet. Wirklich schade ist, daß dieses doch wichtige Ereignis nirgends schriftlich oder bildlich festgehalten wurde. Auch in diversen Archiven fanden wir keine Unterlagen über unsere Gründung. Die Erklärung für diesen Umstand finden wir wahrscheinlich in der Tatsache, dass die Pfader andere Probleme hatten, als die Gründung dieser neuen Abteilung groß zu feiern und für das Archiv festzuhalten! Auch die Tatsache, daß der Zeitpunkt genau gegen Ende des zweiten Weltkrieges lag, läßt vermuten, daß keine grosse Lust zum Feiern bestand! Bleibt einmal mehr die Vermutung, daß die Gründung mit der Waldweihnacht zusammen gefeiert wurde ...</p>
  <h3>1944-1956</h3>
  <p>Im Dezember 1944 wurde die neue Abteilung gegründet, eine "reine" Pfader-Abteilung, also noch gänzlich ohne 1. Stufe. Einige Jahre später wurde dann die Wolfsmeute Sioni ins Leben gerufen. Im September 1956 wurde die Gruppe Biber gegründet. Dies war die 3. Gruppe des Zuges St. Mauritius. Die Gruppe Biber wurde zum größten Teil aus der Gruppe Puma gegründet. So kennen wir alle drei Gruppen des Zuges (heute Abteilung) St.Mauritius: erstens Sparta, zweitens Puma und als dritte Gruppe im Bunde Biber. Der Zugführer zu dieser Zeit war Schuß. Aus einem alten Gruppenbuch der Gruppe Sparta entnehme ich, daß das heutige Distrikt früher Korps hieß, der Zug in der damaligen Zeit (1956) der heutigen Abteilung entspricht und das heutige Fähnli damals Gruppe hieß. In den folgenden Jahren wurden verschiedene Sommerlager wie z.B. in Münster (VS) oder in Le Locle (NE) organisiert. Wie ich aus der Gründungsurkunde der Gruppe Biber entnehme, verliefen diese beiden Lager zur vollsten Zufriedenheit der Organisatoren.</p>
  <%= image_tag image_path('abteilung/chronik/collage_bula_1956.jpg') %>
  <h3>1957-1961</h3>
  <p>
    Im Jahre 1957 fand ein Ereignis statt, welches für uns dann vor allem in späteren Jahren bedeutend werden sollte. In diesem Jahr wurde nämlich die Pfadfinderinnen-Abteilung Jeanne d’Arc gegründet, in welcher auch Mädchen aus Höngg dabei waren. Dieser Trupp hiess Leif Eriksen. 1960 wurde im Zug St. Mauritius (SM) die Roverrotte neu gegründet. Blitz, der bis im Herbst 1960 die Gruppe Biber geführt hatte, trat nun zur 4. Stufe über und der Chronist (Mocke) übernahm die Gruppe Biber.
    Das Sommerlager 1961 in Augio (TI) verlief nicht ganz nach den Erwartungen der Gruppenführer. Auf der Tagestour stürzte ein junges Gruppenmitglied am Pizo Rottondo eine Geröllhalde herunter. Glücklicherweise war dieser junge Mann nach drei Wochen Spitalaufenthalt wieder auf den Beinen!</p>

  <h3>1962-1967</h3>
  <p>Im Februar 1962 wurde die vierte Gruppe gegründet, nämlich die Gruppe Tarpan. Diesem doch lebhaften Treiben unseren Vorgängern entnehme ich mit vollster Zufriedenheit, daß der Entschluß vom Dezember 1944 nicht falsch war! Nein, ganz im Gegenteil, die doch noch recht "junge" Abteilung St. Mauritius wuchs und wuchs, eine reife Entwicklung! Die Gruppe Biber, die schon seit Ihrer Gründung 1956 einen Chronisten hatte, eröffnete 1963 ihre eigene Chronik, aus der die nun folgenden Daten, Namen und Ereignisse stammen.</p>
  <p>Um den Team-Geist und das Zusammengehörigkeitsgefühl zu stärken, bediente man sich eines Gruppen-Spruches : 
  <blockquote class="chronik-slogan">Über Stock und über Stein haut er’s ab mit flinkem Bei! Gruppe Biber, diä isch da, da hinderscht und dä letschti Maa!</blockquote>
  <p>Der Zugspruch der St. Mauritianer, wurde mir von meinem Onkel übergeben, als ich noch selber ein kleiner Wolf war ...</p>
 <blockquote class="chronik-slogan">St. Mauritius tolli Bande, wohl bekannt im ganzen Lande! Härti Kerli dur und dur, mit em Chopf dur jedi Muur!</blockquote>
  <p>Die Gruppe Biber wurde in dieser Zeit (also 1963) von Spitz (OberPfader) als Venner geführt. Seine rechte Hand war Wiesel (Pfader). Für die Finanzen und das Festhalten der geschichtlichen Ereignisse war damals Pfiff (P) verantwortlich. Winnetou (P), Muus (P), Kork (P), Surri (P) und Igel (P) waren die restlichen Pfader, die am Gruppenleben teilnahmen. Daß bei dieser Gruppe mächtig was los war, zeigt der Eintrag vom 1. Juni 1963 in der Chronik 
    Neuer Rekord!!! Spitz und Pfiff bestiegen den Üetliberg in nur 17 Minuten.
    Im April 1967 wurde von der Abteilung (dem jetzigen Korps) ein Autorennen (Seifenkistenrennen) veranstaltet, bei dem unsere Mannschaft immerhin mit dem 14. Schlussrang abschnitt ...</p>
  <p>
    Kurz danach, nämlich vom 8. bis 22 Juli, fand ein Sommerlager in Ulrichen (VS) statt. In einem so hochalpinen Gebiet ist es kaum verwunderlich, daß die Tagestour auf das Blasenhorn (2771 m.ü.M.) führte!</p>
  <p>
  <h3>1968-1970</h3>
  Über die nächsten drei Jahre fehlen mir die nötigen Informationen, was, wann und warum getan wurde. Nur wohin die Sommerlager führten, wurde festgehalten: 
  1968 nach Latsch (bei Bergün) (GR)
  1969 nach Siviez (im Val Nendaz) (VS)
  1970 nach Gspon (VS)
  Als wichtiges Ereignis kann sicherlich noch festgehalten werden, dass 1968 der Trupp Leif Eriksen in Nansen umgetauft wurde.
  Von 1970 finde ich die erste Urkunde, anhand derer eine markante Änderung im Pfadibetrieb festzustellen ist. Auf Grund dieser Urkunde nehme ich an, daß um das Jahr 1970 herum eine Neustrukturierung des Pfadibetriebs stattgefunden hat. Die Wörter Gruppe, Korps und Abteilung bekamen neue Bedeutungen. Neu galten die Benennungen, wie sie heute auch noch bekannt sind. Unsere Abteilung heißt St. Mauritius, die vier Fähnli hatte, nämlich Biber, Tarpan, Sparta und Puma. Die Abteilung gehört dem Korps Limmat an. Das Korps wiederum ist Mitglied des Distrikt St. Georg.
</p>
<h3>1971-1980</h3>
<p>
  1971 fuhr man nach Tête de Ran (NE) ins Sommerlager, ein Jahr danach nach Blatten (VS).
  Das Fähnli Biber 1973. Wer hat welche Aufgaben ? Was hat alles geändert ? Hier die Antworten : Venner ist Kakadu (OP) , Hilfsvenner Coci (P), als Pfader sind Poni (P), Sperber (JungPfader), Daniel (JP) und Eric (JP). Zum 10-jährigen Jubiläum gratuliert der erste Chronist Pfiff dem Fähnli Biber zur sauberen Führung der Chronik.
  Das Sommerlager 1975 des Stammes Pontiac wurde laut der Chronik zu einem richtigen Sumpflager. Sörenberg (LU) hieß der Ort, an dem sich unsere Pfader im Sommer 1975 herumtrieben. Die wenigen Sonnenstrahlen wurden ausgenützt um eine Tagestour, die auf das Brienzerrothorn führte, zu unternehmen.</p>

<p>
  Der Stamm Crockett verbrachte sein Sommerlager 1975 in Trogen (AR) im Pestalozzidorf. Anstelle einer Tagestour machten die Pfader eine Bachtour, was auch immer das ist (?!?).
  Was für die nächsten Jahre besonders wichtig wird, ist der Eintritt eines neuen Pfaders ins Fähnli Biber, nämlich Thomas Schuhn / Struppi. Er wird in den kommenden Jahren die Geschichte unserer Abteilung mitbestimmen. Doch davon später...
  Im Sommer 1980 nahm dann unsere Abteilung am landesweit ausgeschriebenen Bundeslager teil, welches in der Grafschaft Greyerz stattfand und gelinde gesagt ins Wasser fiel, da es zu grösseren Überschwemmungen kam.</p>
<h3>1981-1989</h3>
<p>
  Obwohl schon seit mehreren Jahren mit den Pfadfinderinnen der Abteilung Jeanne d’Arc erfolgreich zusammengeschafft wurde, kam es erst 1984 und durch die Auflösung der Abteilung Jeanne d’Arc zur Fusion der Abteilung St. Mauritius und des Trupps Nansen. So hiess unsere Abteilung neu St. Mauritius-Nansen oder kurz und bündig : SM-Nansen.
  Gegen Ende des Jahres 1986 war unsere Abteilung in jedermanns bzw. -fraus Munde. Nachdem ein Abteilungsleiter sein Amt niedergelegt hatte, stand unsere Abteilung ohne Abteilungsleiter da. Doch die Stufenleitung liess den Kopf nicht hängen, sondern man gründete "Das Team der Stufenchefs", die gemeinsam das Amt des Abteilungsleiters übernahmen. So etwas gab es zu dieser Zeit (und auch heute) kein zweites Mal. Das Team der Stufenchefs bestand aus Rüssel, Struppi, Joya, Muschle, Eule und Relax. Dieses Team arbeitete immerhin drei Jahre mit annähernd der gleichen Besetzung. Auf Anfang 1989 bekam unsere Abteilung wieder eine Abteilungsleiterin (Skilla) und einen Abteilungsleiter (Topas). Mit ihrem Amtsantritt verlor unsere Abteilung ein kleines Stück ihrer bisherigen Exklusivität, die aber sehr schnell wieder gut gemacht wurde.</p>
<h3>1990-1994</h3>
<p>
  Die beiden führten unsere Abteilung sicher durch zwei, zum Teil recht stürmische Jahre. Nachdem in den vorhergehenden Jahren zwar die Maitlipfadis immer in der Nähe der Buebepfadis (bzw. umgekehrt) zelteten, kam es im Sommer 1990 dann zum ersten wirklich gemischt-geschlechtlichen Sommerlager mit gemeinsamen Programm etc., welches in Donath (GR) stattfand. Dieses Lager bedeutete einen weiteren wichtigen Schritt in Richtung Zusammenarbeit zwischen Pfadfinderinnen und Pfadfinder.
  Die beiden neuen Abteilungsleiter, die ihr Amt anfangs 1992 übernahmen (Riri & Kaktus) mussten sich dann schon bald Gedanken zu einem sehr wichtigen Thema machen :
</p>

<p>
  50 Jahre Pfadiabteilung St. Mauritius-Nansen
  Ausserdem fand im Sommer 1994 ein weiteres sehr wichtiges Ereignis statt : das Bundeslager 1994, welches im Napfgebiet durchgeführt wurde.
  Ich möchte diesen kleinen Rückblick auf unsere Abteilungsgeschichte mit einem Pfadfinder-Gesetz der Gruppe Puma aus dem Jahre 1960 beenden. Vielleicht würde es uns (den aktiven Pfadfindern unserer Abteilung) manchmal gut tun, daran erinnert zu werden, was es heisst, ein Pfadi zu sein! Mir ist ganz klar, dass man dieses Pfadfinder-Gesetz nicht 1:1 in die heutige Zeit übernehmen darf. Doch kann es nicht schaden, einmal die Einstellung unserer Vorfahren kennenzulernen.</p>

<p>
  Gruppengesetz der Gruppe Puma :
<ol>
  <li>DES PFADFINDERS WORT IST WAHR.</li>
  <li>DER PFADFINDER IST TREU.</li>
  <li>DER PFADFINDER HILFT, WO ER KANN.</li>
  <li>DER PFADFINDER IST EIN GUTER KAMERAD.</li>
  <li>DER PFADFINDER IST HÖFLICH UND RITTERLICH.</li>
  <li>DER PFADFINDER SCHÜTZT PFLANZEN UND TIERE.</li>
  <li>DER PFADFINDER GEHORCHT WILLIG.</li>
  <li>DER PFADFINDER IST TAPFER, ER ÜBERWINDET
    SCHLECHTE LAUNE.</li>
  <li>DER PFADFINDER IST ARBEITSFREUDIG UND
    GENÜGSAM.</li>
  <li>DER PFADFINDER HÄLT SICH REIN IN GEDANKEN,
    WORT UND TAT.</li>
</ol>
</p>
<p>
  Ich wünsche der Abteilung St. Mauritius-Nansen auf ihrem weiteren Lebensweg alles erdenklich gute, viele begeisterte FührerInnen und Butzlis, Kameradschaft, sowie kompetente FührerInnen für die nächsten 50 Jahre. 
</p>

</div>