<%= heading("70 Jahre SMN", "70 Jahre Jubiläum der Pfadi St. Mauritius Nansen", icon: 'abteilung/chronik/icon_chronik.png') %>

<h2>Anlass vom 28. Juni 2014</h2>
<p>Hier kommt ein fantastischer Text hin.</p>


<h3>Sponsoren</h3>
<p>Hier kommen die tollen Sponsoren hin.</p>
