<%= heading("Jubiläumsanlass 28. Juni 2014", "70 Jahre Jubiläum der Pfadi St. Mauritius Nansen", icon: 'abteilung/chronik/icon_chronik.png') %>

<h2>Informationen folgen in Kürze</h2>
<p>In Kürze werden auf dieser Seite Informationen zum Juiläumsanlass am 28. Juni 2014 publiziert.</p>
<p>Schau bald wieder vorbei!</p>


