<div>
  <h2>Altpfadfindervereingung</h2>
  <p>Ziel dieser Gruppe ist es, die Pfadis von heute zu unterstützen - und uns mind. 1x pro Jahr zu treffen, 
  um in der Vergangenheit zu schwelgen.</p>

  <p>Zu diesem Zweck suchen wir dich bzw. deine Pfadikamerad(inn)en von früher als Mitglieder in unseren APV. Du
  kannst Aktiv- oder Passivmitglied werden. Melde dich doch gleich heute an!</p>

  <p>Für Tipps betreffend Mithilfe bei der Suche nach Ehemaligen sind wir immer sehr dankbar.</p>
  <br />
  <%= image_tag image_path('abteilung/apv/collage_apv.jpg') %>
</div>


<% content_for :sidebar do %>
  <h2>Team</h2>
  <p>
    Für die Kontaktaufnahme und Fragen stehen euch gerne zur Verfügung:
  <ul>
    <li>Franziska Bachl / Chinchilla<br/><%= link_to 'fbachl@bluewin.ch', 'mailto:fbachl@bluewin.ch' %> </li>
    <li>Stephan Werder / Hupi<br/><%= link_to 'werder@gmx.ch', 'mailto:werder@gmx.ch' %> </li>
    <li>Dominic Bachl / Sioux<br/><%= link_to 'dominic.bachl@bluewin.ch', 'mailto:dominic.bachl@bluewin.ch' %> </li>
  </ul>
  </p>
<% end %>