<%= heading("Pfadi Life", "Impressionen aus dem Pfadi-Leben") %>

<h2>Fotos</h2>
<p>In diesem Bereich findest du Fotos von vergangenen Anlässen und Lagern.</p>
<p><%= link_to "Hier", photos_path %> findest du die Übersicht über alle Alben.</p>

<h2>Videos</h2>
<p>In diesem Bereich findest du Videos von vergangenen Anlässen wie dem Familienabend.</p>
<p><%= link_to "Hier", pfadilife_videos_path %> findest du die Übersicht über eine Auswahl einiger Videos.</p>

<h2>Skauty</h2>
<p>Das Skauty ist die Abteilungs-Zeitschrift von der Pfadi SMN. </p>
<p><%= link_to "Hier", pfadilife_skauty_path %> findest du alle Ausgaben seit 2001 zum Download.</p>

<% content_for :sidebar do %>
  <h2>Über Pfadi Life</h2>
  <p>
    "Pfadi Life" ist der Bereich in dem du vorallem multimediale Inhalte findest. Wie es der Name dieses Bereichs vermuten lässt, soll "Pfadi Life" Eindrücke aus dem Pfadi-Leben vermitteln.
  </p>
<% end %>