@import "bootstrap-configuration";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "lib/fancybox.jquery";
@import "formtastic";
@import "forms/chosen";
@import "forms/markitup";
@import "forms/forms";

@import "views/heading";
@import "views/flashes";
@import "views/members";
@import "views/index";
@import "views/news";
@import "views/pfadilife";
@import "views/event";
@import "views/abteilung";
@import "views/addresses";


html {
  overflow-y: scroll;
}

body {
  background: image-url('layouts/background.png') repeat center center;
}

div.cb, div.clear
{
  clear: both;
}

main {
  background: #fff;
  box-shadow: 0 0 10px #000;
  min-height: 100vh;
  padding-top: 50px;

  a {
    border-bottom: 1px dotted #000;

    &:active, &:hover {
      color: #555555;
      border-bottom: 1px dotted #555555;
    }
  }
}


footer
{
  .inner {
    padding-top: $grid-gutter-width/1.5;
    padding-bottom: $grid-gutter-width/2;
    color: $gray-light;
    font-size: $font-size-small;
    background-image: image-url('layouts/pfadiischseil.png');
    background-repeat: no-repeat;
    background-position: top right;
  }
}
