@import "bootstrap-configuration";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "lib/fancybox.jquery";
@import "lib/crud-helper";
@import "formtastic";
@import "forms/chosen";
@import "forms/markitup";
@import "forms/forms";

@import "views/heading";
@import "views/flashes";
@import "views/members";
@import "views/index";
@import "views/news";
@import "views/pfadilife";
@import "views/event";
@import "views/abteilung";
@import "views/addresses";
@import "views/photos";


body {
  background: image-url('layouts/background.png') repeat center center;
  background-color: #d7d7d7;
  background-blend-mode: hard-light;
}

.cb,
.clear {
  clear: both;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-3 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

.text-center {
  text-align: center;
}

main {
  background: #fff;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;

  a {
    border-bottom: 1px dotted #000;

    &:active,
    &:hover {
      color: #555555;
      border-bottom: 1px dotted #555555;
    }
  }

  img {
    max-width: 100%;
  }
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.75;
  }
}

#navbar {

  .special {
    color: red;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.75;

    &:hover {
      // color: white;
      opacity: 1;
    }
  }

  .small {
    font-size: 0.75em;
    background: #090909;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  .inner {
    margin-top: $grid-gutter-width/3;
    padding-top: $grid-gutter-width/1.5;
    padding-bottom: $grid-gutter-width/2;
    color: $gray-light;
    font-size: $font-size-small;
    background-image: image-url('layouts/pfadiischseil.png');
    background-repeat: no-repeat;
    background-position: top right;
  }
}
