@import "bootstrap-configuration";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "forms/chosen";
@import "forms/markitup";
@import "forms/forms";

@import "heading";
@import "views/index";
@import "views/news";

html {
  overflow-y: scroll;
}

body {
  background: image-url('layouts/background.png') repeat center center;
}

div.cb, div.clear
{
  clear: both;
}

main {
  background: #fff;
  box-shadow: 0 0 10px #000;
  min-height: 100vh;
  padding-top: 50px;

  a {
    border-bottom: 1px dotted #000;

    &:active, &:hover {
      color: #555555;
      border-bottom: 1px dotted #555555;
    }
  }
}


footer
{
  img { 
    margin: $grid-gutter-width/4 auto;
    display: block;
  }

  padding: $grid-gutter-width/2 0;
  font-size: $font-size-small;
  text-align:center;

  color: $gray-light;

}
