layout[label="Two columns"]
  table.w580[width="580" cellpadding="0" cellspacing="0" border="0"]
    tbody
      tr
        td.w275[width="275" valign="top"]
          table.w275[width="275" cellpadding="0" cellspacing="0" border="0"]
            tbody
              tr
                td.w275[width="275"]
                  p.article-title[align="left"]
                    singleline[label="Title"]
                      strong
                        | Und das Pfingstlager erst!
                  .article-content[align="left"]
                    multiline[label="Description"]
                      |  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
              tr
                td.w275[width="275" height="10"]
        td.w30[width="30"]
        td.w275[width="275" valign="top"]
          table.w275[width="275" cellpadding="0" cellspacing="0" border="0"]
            tbody
              tr
                td.w275[width="275"]
                  p.article-title[align="left"]
                    singleline[label="Title"]
                      strong
                        | Das Sommerlager
                  .article-content[align="left"]
                    multiline[label="Description"]
                      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              tr
                td.w275[width="275" height="10"]
