<h2>Umgebung</h2>
<p>
  TODO!
</p>

<% content_for :sidebar do %>
  <h2>Treffpunkte</h2>
  <p>
    Wir treffen uns an verschiedenen Orten in Höngg. Genauere Informationen findest du hier:</p>
  </p>
  <ul>
    <% @places.each do |place| %>
      <li><%= link_to place, place %></li>
    <% end %>
  </ul>
<% end %>
